@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.md-container {
    max-width: 700px;
    margin: 40px auto;

    @media screen and (max-width: 992px) {
        & {
            margin-top: 20px;
            padding: 0 16px;
        }
    }

    @media screen and (max-width: 552px) {
        & {
            margin-top: 10px;
            padding: 0 16px;
        }
    }
}

.the-article-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    line-height: 58px;
    font-weight: 600;
    color: #34495e;

    @media screen and (max-width: 992px) {
        & {
            font-size: 30px;
            line-height: unset;

        }
    }

    @media screen and (max-width: 552px) {
        & {
            font-size: 28px;
            line-height: unset;

        }
    }
}

.the-article-summary {
    font-size: 16px;
    font-weight: 400;
    color: rgb(160, 174, 192);
    font-style: italic;
    margin-top: 14px;

    @media screen and (max-width: 992px) {
        & {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 552px) {
        & {
            font-size: 12px;
        }
    }

}

.the-article-inv {
    width: 100vw;
    max-height: 300px;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 80px;

    @media screen and (max-width: 992px) {
        & {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 552px) {
        & {
            margin-bottom: 20px;
        }
    }
}

.md-template-editor {
    margin-top: 20px;
    font-family: "Noto Serif", sans-serif;

    h1 {
        font-size: 32px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 28px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 26px;
            }
        }
    }

    h2 {
        font-size: 28px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 24px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 22px;
            }
        }
    }

    h3 {
        font-size: 24px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 18px;
            }
        }
    }

    h4 {
        font-size: 20px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 16px;
            }
        }
    }

    h5 {
        font-size: 18px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 16px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 14px;
            }
        }
    }

    h6 {
        font-size: 16px;
        padding: .4em 0;

        @media screen and (max-width: 992px) {
            & {
                font-size: 14px;
            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 12px;
            }
        }
    }

    p {
        font-size: 19px;
        padding: .4em 0;
        line-height: 32px;

        @media screen and (max-width: 992px) {
            & {
                font-size: 14px;
                line-height: 22px;

            }
        }

        @media screen and (max-width: 552px) {
            & {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }

    table {
        border: 1px solid #333;

        td {
            border: 1px solid #333;
        }
    }

    ul {
        list-style-type: inherit;
    }
}