.quantity-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px;
  border: 1px solid #000000;
  max-width: 160px;
  min-width: 160px;
}
.quantity-input_full {
  max-width: 100%;
  min-width: 100%;
}
.quantity-input_mobile {
  max-width: 100px;
  min-width: 100px;
}
.quantity-input_mobile .quantity-input__screen {
  width: 100%;
  font-size: 12px;
  padding: 6px;
  height: 30px !important;
  max-height: 30px !important;
}
.quantity-input_mobile .quantity-input__modifier {
  width: 42px;
  font-size: 12px;
  cursor: pointer;
}
.quantity-input_mobile .quantity-input__modifier--left {
  height: 30px;
  width: 30px;
}
.quantity-input_mobile .quantity-input__modifier--right {
  height: 30px;
  width: 30px;
}

.quantity-input__modifier,
.quantity-input__screen {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
}

.quantity-input__modifier {
  width: 42px;
  font-size: 1rem;
  cursor: pointer;
}
.quantity-input__modifier:hover {
  background: #e6e6e6;
  color: #433f3f;
  aspect-ratio: 1/1;
}
.quantity-input__modifier--left {
  height: 50px;
  width: 50px;
  border-radius: 0px 0 0 0px;
  min-height: 100%;
  aspect-ratio: 1/1;
}
.quantity-input__modifier--right {
  height: 50px;
  width: 50px;
  border-radius: 0 0px 0px 0;
  min-height: 100%;
  aspect-ratio: 1/1;
}

.quantity-input__screen {
  width: 100%;
  font-size: 20px;
  color: #000;
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
  padding: 12px;
  height: 50px !important;
  max-height: 50px !important;
}