@keyframes fadeIn {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}
.element {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: fadeIn 2s infinite; /* Áp dụng keyframes fadeIn */
    transition: transform 0.3s ease; /* Chuyển tiếp cho transform */
  }
  
  .element:hover {
    transform: scale(1.25); /* Phóng to 25% khi hover */
  }